.errorWrapper {
    position: relative;
}

.inputWrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid #E2E8FF;
    gap: 12px;
    padding: 13px 16px 13px 16px;
    border-radius: 8px;
    background-color: #FFFFFF;
    width: 327px;
    height: 52px;
    transition: all .6s;
}

.inputWrapper:focus-within {
    border-color: #6083FF;
}

input {
    width: 251px;
    height: 24px;
    border: none;
    border-radius: 3px;
    background-color: #FFFFFF;
}

input:focus-visible {
    outline: none;
}

input::placeholder {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #BBBBBB;
}

.error, .error-hidden {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: red;
    position: absolute;
    top: 55px;
    left: 5px;
}

.error-hidden {
    visibility: hidden;
}