@font-face {
    font-family: 'Poppins';
    src: local('../../public/fonts/Poppins-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Poppins';
    src: local('../../public/fonts/Poppins-regular.ttf');
    font-weight: 400;
}

body {
    margin: 0;
}

.background {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(0deg, #6C5FD41A, #5DD3A91A);
}

.form {
    position: absolute;
    height: 97vh;
    width: 97vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.separator {
    width: 327px;
    height: 1px;
    background-color: #E9E7FF;
}