.logo {
    font-size: 64px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    background: -webkit-linear-gradient(0deg, #6C5FD4, #5DD3A9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    user-select: none;
    margin-bottom: 10px;
}